@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  padding: 0;
  margin: 0;

  font-family: "Lato", sans-serif;
}

/* base Div */
.main-container {
  display: flex;
  height: 100%;
  width: 100%;
}
/* main Grids*/
.static-container {
  background-color: blue;
  width: 25%;
  height: 100vh;
}
.detailed-container {
  background-color: green;
  width: 75%;
  height: 100vh;
}

/* Grid Content */

.static-container-content,
.detailed-container-content {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.static-container-content {
  background-color: antiquewhite;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailed-container-content {
  background-color: aqua;
  height: 100%;
  padding: 20px;
  overflow-x: auto;
}
.static-container-content-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
}

.static-container-image {
  width: 200px;
  border-radius: 100px;
}
